html {
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: #161a1d;
  color: #eae0d5;
  text-align: left;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;

  p {
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
  }

  .img-container {
    display: flex;
    justify-content: flex-end;
    img {
      width: 30px;
      object-fit: contain; /*pour ne pas déformer l'image*/
    }
  }

  .first_nav {
    display: flex;
    justify-content: left;
    gap: 50px;
  }

  a {
    font-size: 20px;
    color: #eae0d5;
  }

  a:hover {
    color: #a4161a;
  }
}

h1 {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* aligne en haut */
  gap: 80px;
  padding-top: 10px;
  text-align: center;
}

h2, .bloc {
  color: #eae0d5;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.bloc {
  border: solid #eae0d5;
  background-color: #161a1d;
}

#parcours_aca {
  border: solid #eae0d5;
  background-color: #161a1d;
}

.subtitle {
    font-size: small;
    display: flex;
    gap: 70px;
    justify-content: space-around;
    margin: 0;
    color: white;
  }

#parcours_pro {
  border-bottom: none;
  border: solid #eae0d5;
  background-color: #161a1d;
}

.col {
  width: 50%;
}

#experiences {
  border: solid 2px black;
}

li {
  text-align: left;
}

h4 {
  font-size: 20px;
}

.second_nav {
  padding-top: 20px;
}

summary:hover {
  color: #a4161a;
  font-weight: 900;
  cursor: pointer;
}

i {
  font-size: 12px;
}

/* Conteneur de la barre de progression */
.progress {
  width: 150px;
  height: 12px;
  background-color: #d4d4d4;
  box-shadow: 10px 1px 10px black;
  border-radius: 12px;
  overflow: hidden;
  gap: 50px;
}

.progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #a4161a 0%, #ba181b 50%, #a4161a 100%);
  background-size: 200% 100%;
  animation: fillBar 3s ease-out forwards, fading 2s linear infinite;
  border-radius: 12px;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

#progress-python {
  --target-width: 40%;
}
#progress-sql {
  --target-width: 50%;
}
#progress-html {
  --target-width: 30%;
}
#progress-wordpress {
  --target-width: 70%;
}
#progress-power {
  --target-width: 70%;
}
#progress-imovie {
  --target-width: 90%;
}
#progress-finalcut {
  --target-width: 60%;
}

#progress-français {
  --target-width: 100%;
}
#progress-anglais {
  --target-width: 90%;
}
#progress-esp {
  --target-width: 70%;
}
#progress-japonais {
  --target-width: 40%;
}

.progress-columns {
  display: flex;
  gap: 60px; /* espace entre les colonnes */
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.col {
  width: 450px;
  .progress#langues {
    width: 300px;
    align-self: center;
  }
  .progress-title#langues {
    align-self: center;
  }
}

.progress-container {
  display: flex;
  flex-direction: column; /* empile titre + barre verticalement */
  gap: 5px; /* petit espace entre les deux */
  margin-bottom: 20px; /* espace entre chaque bloc */
}

.progress-title {
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}

#formation {
  border-top: solid 2px black;
  padding-top: 10px;
  li {
    margin: 1em;
  }
}

#experiences {
  padding-right: 18px;
}

@media only screen and (max-width: 768px) {
  header {
    font-size: 20px;
    p {
      font-size: 15px;
    }
    a {
      font-size: 15px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    #langues {
      float: center;
      width: 50%;
      margin-left: 60px;
    }
  }
  .second_nav {
    padding-top: 0px;
  }
  .progress {
    height: 30px;
    background-color: #d4d4d4;
    box-shadow: 10px 1px 10px black;
    border-radius: 12px;
    gap: 30px;
    width: 100%;
  }

  .progress-columns {
    display: flex;
    gap: 150px; /* espace entre les colonnes */
    align-items: flex-start;
  }

  .progress-container {
    display: flex;
    flex-direction: column; /* empile titre + barre verticalement */
    gap: 5px; /* petit espace entre les deux */
    margin-bottom: 10px; /* espace entre chaque bloc */
  }

  .progress-title {
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding-top: 20px;
  }

}
